<div id="datarows" class="table-responsive mt-3" hx-target="this" hx-swap="outerHTML show:window:top">
    <table class="table table-striped">
        <caption>{{ dataset }}</caption>
        <thead>
            <tr>
                {% for header in headers %}
                    <th scope="col">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in page_obj %}
                <tr>
                    {% for col in row %}
                        <td>{{ col }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>

    </table>
    {% if page_obj.has_other_pages %}
        <nav aria-label="navigation" class="d-flex justify-content-center">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                            href="#"
                            hx-get="{% url 'datarows' dataset.id page_obj.previous_page_number %}"
                        >Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                    <li class="page-item">
                        <a class="page-link"
                            href="#"
                            hx-get="{% url 'datarows' dataset.id page %}"
                        >{{ page }}</a></li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                            href="#"
                            hx-get="{% url 'datarows' dataset.id page_obj.next_page_number %}"
                        >Next</a></li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Next</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

</div>
