{% if page_obj.has_other_pages %}
    <nav aria-label="Page navigation" id="pagination"{% if hx_oob %} hx-swap-oob="true"{% endif %}>
        <ul class="pagination justify-between">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                        href="#"
                        hx-get="{% url 'datarows' dataset.id page_obj.previous_page_number %}"
                        hx-target="#datarows"
                    >Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link"
                        href="#"
                        hx-get="{% url 'datarows' dataset.id page_obj.next_page_number %}"
                        hx-target="#datarows"
                    >Next</a></li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

